:root
{
    --primery-text-color:#212121;
    --accent-color:#757575;
    
}

.body
{

   background-color: #FFFFFF;

}

/* logo*/
.logo
{
    color: #000000;
    font-size: 26px;
    text-decoration: none;
}

.logo-web
{
   color: #2196F3;
}

/* headers navigation */
.nav
{
font-size: 14px;
list-style: none;
}

.nav-link
{
    color: var(--primery-text-color);
    
    text-decoration: none;
}
.nav-link:hover,.nav-link:focus
{
    color:#2196F3;

}

/* headers contacts */
.nav-contacts
{
    color: var(--accent-color);
    text-decoration: none;
}
.nav-contacts:hover,.nav-contacts:focus
{
    color:#2196F3;
}

/* buttons */
.button
{
    color: #FFFFFF;
    background-color: #2196F3;
    font-size: 16px;
    text-decoration: none;
}

.button:hover,.button:focus
{
    color:rgba(0, 0, 0, 0.15)
}

/* main banner */
.hero
{
    color: #FFFFFF;
    background: aqua;
    font-size: 44px;
}

/* advantages */

.advantages
{
    list-style: none;
}

.advantages-title
{
    color: var(--primery-text-color);
    font-size: 14px;
}

.advantages-disc
{
    color: var(--accent-color);
    font-size: 14px;
}

/* our products */
.products-title
{
    color: var(--primery-text-color);
    font-size: 36px;
}

.products-subtitle
{
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
    font-size: 14px;
}

.products-list
{
    list-style: none;
}


/* team */

.team
{
    background-color: #F5F4FA;
}

.team-title
{
    color: var(--primery-text-color);
    font-size: 36px;
}

.team-list
{
    list-style: none;
}
.team-name
{
    color: var(--primery-text-color);
    font-size: 16px;
}

.profession
{
    color: var(--accent-color);
    font-size: 16px;
}

.team-social
{
    list-style: none;
}

.team-soclink
{
    color: #AFB1B8;
    text-decoration: none;
}

.team-soclink:hover,
.team-soclink:focus
{
    color: #2196F3;
}

/* costumer */
.costumer-title
{
    color: var(--primery-text-color);
    font-size: 36px;
}
.custumer-list
{
    list-style: none;
}

/* footer */
.footer
{
     background-color: #2F303A;
}

.footer-logo
{
    color: #2196F3;
    font-size: 22px;
    text-decoration: none;
}
.footer-logo-studio
{
    color: #FFFFFF;
}

.footer-address
{
    color: #FFFFFF;
    font-size: 14px;
}

.footer-contacts
{
 color: rgba(255, 255, 255, 0.6);
 font-size: 14px;
}
.footer-contacts:hover
{
    color: #2196F3;
}

.footer-auth
{
    color: #FFFFFF;
    font-size: 14px;
}

.footer-auth-list
{
    list-style: none;
}

.footer-auth-link
{
    color: #FFFFFF;
    list-style: none;
}
.footer-auth-link:hover
{
    color: #2196F3;
}

.footer-developer
{
    color: rgba(255, 255, 255, 0.4);
    font-size: 12px;
}